{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}

<div class = 'container'>
	<div class ="row">
		<div class ="col"></div>
		<div class = "col-5">
			{% for object in object_list %}
			<!-- for문으로 models를 통해 생성된 object의 list를 하나씩 가지고 옴. -->
			<div class ="card">
				<div class = "card-header">
					{{ object.author }}
					
				</div>
					<img src=" {{ object.image.url }}" class = "card-img-top" alt = "...">
					<div class ="card-body">
						<p class = "card-text"> {{ object.text }} </p>
					</div>
				<ul class = "list-group list-group-flush">

					<li class="list-group-item">
						<a href="{% url 'photo:like' object.id %}" class="float-left btn-like {% if user in object.like.all %} active {% endif %}">좋아요!</a>
						<!-- 만약 좋아요한 유저가 있으면 아이콘 active -->
						{% if object.like.all.count %}
						<span class="float-left">
							{{object.like.all.count}} <!-- 좋아요 카운트 -->
						</span>
						{% endif %}
						<a href="{% url 'photo:favorite' object.id %}" class="float-right btn-favorite {% if user in object.favorite.all %} active{% endif %}">저장하기!</a>
					</li>
					
					<li class = "list-group-item">생성일 : {{ object.created }}</li>
				</ul>
				<div class = "card-body">
					<a href="{% url 'photo:detail' object.id %}" class="card-link">댓글달기</a>
					{% if user == object.author %}
					<a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
					<a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
					{% endif %}

			</div>
		</div>
		{% endfor %}
		
	</div>
	
		<div class="col"></div>
	</div>
</div>

{% endblock %}